@import "tailwindcss";

@theme {
  --color-main: #0a0a0a;
  --color-primary: #262626;
  --color-secondary: #a02cff;
  --color-desc: #484848;

  --font-rubik: var(--font-rubik);

  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-rubik);
}

.move-slide {
  animation: move 30s linear infinite;
}

@layer components {
  .btn {
    @apply bg-primary rounded-md cursor-pointer py-3 px-6 border border-white/20 inline-block hover:bg-[#363636] duration-200
  }
}

.title {
  grid-template-columns: 300px 1fr 1fr 1fr 1fr;
}

@layer utilities {
  .container {
    margin: 0 auto;
    padding-inline: 10px;

    @media (width < 36rem

      /* 640px */
    ) {
      max-width: 100%
        /* 640px */
      ;
    }

    @media (width >=36rem

      /* 640px */
    ) {
      max-width: 33.75rem
        /* 640px */
      ;
    }

    @media (width >=48rem

      /* 768px */
    ) {
      max-width: 45rem
        /* 768px */
      ;
    }

    @media (width >=62rem

      /* 1024px */
    ) {
      max-width: 60rem
        /* 1024px */
      ;
    }

    @media (width >=75rem

      /* 1280px */
    ) {
      max-width: 71.25rem
        /* 1280px */
      ;
    }

    @media (width >=87.5rem

      /* 1536px */
    ) {
      max-width: 82.5rem
        /* 1536px */
      ;
    }
  }
}

@keyframes move {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(calc(-250px * 7));
  }
}